@using (Html.BeginForm("Upload", "Images", FormMethod.Post,
              new { enctype = "multipart/form-data" }))
{
    <div>
        Select a file: <input type="file" name="fileUpload" />

        <input type="submit" value="Upload" />
    </div>      }

<br /><br /><br />
<table>
    <tr>
        <td> Filnamn </td>
        <td> Preview </td>
    </tr>
    @foreach (var file in Model)
    {
        <tr>
            <td> @file.Name </td>
            <td>
                <img src="@Url.Content(file.Path)" />
            </td>

        </tr>
    }
