@model Grupp_2.Models.CreateEduViewModel
@{
    ViewBag.Title = "CreateEduVM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateEduVM</h2>



@using (Html.BeginForm("UpdateEduVM", "Education", FormMethod.Post))
{
    <tr>
        <td> Lägg till en ny skola i ditt cv: </td>
        <b/>
        <td>

            @Html.EditorFor(x => x.SchoolName)

            @Html.DropDownList("MySchool_Types", (IEnumerable
            <SelectListItem>)ViewData["DBMySchool_Types"])

            <input type="submit" name="actionType" value="SaveSchool" class="btn btn-default" />


        </td>

    </tr>

}