@model Grupp_2.Models.CreateSchoolViewModel
@{
    ViewBag.Title = "CreateEduVM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateEduVM</h2>



@using (Html.BeginForm("UpdateSchoolVM", "School", FormMethod.Post))
{
    <h3> Lägg till en ny skola i ditt cv: </h3>

    <br />
    <br />

    <tr>
        <td>Namn på skolan:&emsp;</td>
        <td>
            @Html.EditorFor(x => x.SchoolName)
        </td>
    </tr>

    <br />
    <br />

    <tr>
        <td>Skolans ort:&emsp;</td>
        <td>
            @Html.EditorFor(x => x.SchoolPlace)
        </td>
    </tr>

    <br />
    <br />

    <tr>
        <td>Typ av skola:&emsp;</td>
        <td>
            @Html.DropDownList("MySchool_Types", (IEnumerable
            <SelectListItem>)ViewData["DBMySchool_Types"])
            <b />
        </td>
    </tr>

    <br />
    <br />

    <tr>
        <input type="submit" name="actionType" value="SaveSchool" class="btn btn-default" />
    </tr>

}


