
@{
    ViewBag.Title = "DuplicateErrorSchool";
}

<h2>Hoppsan!</h2>
<h3>Titeln på skolan finns redan i systemet. </h3>
<h4>Välj ett annat namn eller välj bland de befintliga skolorna.</h4>

@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
    alert('@TempData["alertMessage"]');
    </script>
}


<div>
    @Html.ActionLink("Tillbaka till skapande av skola", "Create")
</div>
