@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h1>Grupp 2's Cv Site</h1>
    <p class="lead"> Skapad av Anton Lyrberg, Noel Lindgren, Jonathan Gabrielsson</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Urval av cv's:</h2>
        <p>
            @if (ViewBag.Count >= 1)
            {
                <a>@Html.RouteLink("Kolla på COOLANVÄNDARE1S CV ", "ShowUserCv", new { userid = ViewBag.Uid[0] })  </a> <hr>
            }
            @if (ViewBag.Count >= 2)
            {
                <a>@Html.RouteLink("Kolla på COOLANVÄNDARE1S CV ", "ShowUserCv", new { userid = ViewBag.Uid[1] })  </a> <hr>
            }
            @if (ViewBag.Count >= 3)
            {
                <a>@Html.RouteLink("Kolla på COOLANVÄNDARE1S CV ", "ShowUserCv", new { userid = ViewBag.Uid[2] })  </a> <hr>
            }

        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Senaste projeketet</h2>
        <p> <a href="google.com"> Ipsmun projekt java csharp </a> </p>
        <p> Skapad av : <a href="google.com"> NoelLyr </a></p>
    </div>
</div>