
@{
    ViewBag.Title = "DuplicateErrorProj";
}

<h2>Hoppsan!</h2>
<h3>Titeln används redan i ett projekt. </h3>
<h4> vänligen använd ett annat namn eller gå med som deltagare i det befintliga projektet. </h4>

@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
    alert('@TempData["alertMessage"]');
    </script>
}


<div>
    @Html.ActionLink("Tillbaka till projekt-skapandet", "Create")
</div>
